*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color:aliceblue;
    padding: 10px;
}
h1,li,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color:gray;
    cursor: pointer;
}
li:hover{color:white}
input{
    width: 60%;
    padding:15px;
}
.searchbar{
    margin: 30px;
    text-align: center;
}
.box{
    padding: 4px;
    border-color:black ;
    border: 5px;
    border-style: solid;
    width: 220px;
    display: inline-block;
    cursor: pointer;
}
.box:hover{
    background-color:black;
    color: white;
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.contact{
    background-color: black;
    color:white;
    padding: 10px;
    text-align:center;
    cursor: pointer;
}